@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #2e0854;
}

@keyframes pulseGlow {
  0%, 100% { opacity: 0.8; transform: scale(1); }
  50% { opacity: 1; transform: scale(1.02); }
}

.glow-effect {
  animation: pulseGlow 2s infinite ease-in-out;
}
