@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
  background-color: #fffbeb;
  color: #1e293b;
}

.font-hand-script {
  font-family: 'Caveat', cursive;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #fef3c7;
}
::-webkit-scrollbar-thumb {
  background: #fbbf24;
  border-radius: 9999px;
}
