@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fdfbf7;
  color: #1c1917;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.font-serif-cormorant {
  font-family: 'Cormorant Garamond', serif;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #f7f4ed;
}
::-webkit-scrollbar-thumb {
  background: #ccba9d;
}
