@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #07080d;
}

/* Custom scrollbars */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #07080d;
}
::-webkit-scrollbar-thumb {
  background: #1a1d2d;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #8b5cf6;
}
