@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Quicksand', sans-serif;
  background-color: #faf5ff;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #f3e8ff;
}
::-webkit-scrollbar-thumb {
  background: #c084fc;
  border-radius: 9999px;
}
::-webkit-scrollbar-thumb:hover {
  background: #a855f7;
}
